.Rproj.user
.Rhistory
.RData
_site/
_posts/
_bin/
_data/
.sass-cache/
*cache/
*figure/
*figure-html/
_source/*.html
_source/*.md
_source/*/
*footnote-test*
*tikzDictionary
additional/*
data/*
images/*
assets/*
.DS_Store
