<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">

    {% if page.bootstrap %}
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="/assets/jquery/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="/assets/bootstrap/js/bootstrap.js"></script>
    <script src="//cdn.rawgit.com/tonystar/bootstrap-hover-tabs/master/bootstrap-hover-tabs.js"></script>
    {% endif %}

    {% if page.D3js %}
    <!-- D3js library -->
    <script src="https://d3js.org/d3.v4.min.js"></script>
    {% endif %}

    {% if page.animation %}
    <link rel="stylesheet" href="/assets/css/scianimator.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="/assets/js/jquery.scianimator.min.js"></script>
    {% endif %}

    {% if page.maps %}
    <script src="/assets/jquery/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="/assets/bootstrap/js/bootstrap.js"></script>
    <script src="/assets/bootstrap/shim/html5shiv.min.js"></script>
    <script src="/assets/bootstrap/shim/respond.min.js"></script>
    <script src="/assets/htmlwidgets/htmlwidgets.js"></script>
    <link href="/assets/leaflet/leaflet.css" rel="stylesheet" />
    <script src="/assets/leaflet/leaflet.js"></script>
    <link href="/assets/leafletfix/leafletfix.css" rel="stylesheet" />
    <script src="/assets/leaflet-binding/leaflet.js"></script>
    <script src="/assets/leaflet-providers/leaflet-providers.js"></script>
    <script src="/assets/leaflet-providers-plugin/leaflet-providers-plugin.js"></script>
    {% endif %}

    {% if page.webgl %}
    <script src="/assets/jquery/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/bootstrapshim/html5shiv.min.js"></script>
    <script src="/assets/bootstrap/shim/respond.min.js"></script>
    <script src="/assets/htmlwidgets/htmlwidgets.js"></script>
    <link href="/assets/rglwidgetClass/rgl.css" rel="stylesheet" />
    <script src="/assets/rglwidgetClass/rglClass.src.js"></script>
    <script src="/assets/CanvasMatrix/CanvasMatrix.src.js"></script>
    <script src="/assets/rglWebGL-binding/rglWebGL.js"></script>
    <script src="/assets/rglPlayer-binding/rglPlayer.js"></script>
    {% endif %}

    <!-- Fontawesome: -->
    <script src="https://use.fontawesome.com/0fcc13e265.js"></script>

    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/toc.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
</head>
